
.photo,.profile,.education,.work{
    
    width: 1200px;
    padding: 0px 360px;
    margin:0px 0px;
    
}


.title{
    width: 1200px;
    margin-top:47px;
    padding-bottom: 17px;
    margin-left:360px;
    margin-right:360px;
    
}

.container-line-title{
    
    border-bottom:2px solid black;
 
}
.name{
    
    font-size: 80px;
    font-family:sans-serif;
    color:black;
    
    line-height: 5.875rem; /* 94px */
    font-weight: 350;
    height:188px;
    width:264px;
    
    margin:0px;
    
}


.contact,.skill{
    width:1920px;
    /* height:474px; */
    background-color:#415165;
    height:auto;
    
    
}
.contact{
    
    padding-top:24px;
}

.skill{
    
    padding-top:24px;
    /* padding-bottom: 36px; */
}

.content-profile-1,.content-profile-2,.content-education-1,.content-education-2,.work-content-2-list>li,.skill-content-2>ul,.contact-content-2>ul {
    
    list-style-type: none;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 200;
    line-height: 2.25rem; /* 36px */
    
      
    
}

.center{
    text-align: center;

}

.shortHt{
    
    height:384px;
    
}


.container-line{
    padding-bottom:8px;
    
    border-bottom:1px solid black;
    
}

.container-line-Wt{
    padding-bottom:8px;
    margin:auto;

    width:996px;
    
    border-bottom:1px solid white;
    
}
.container-line-Wt-2{
    padding-bottom:8px;
    margin:auto;

    width:1200px;
    
    border-bottom:1px solid white;
    
}



.content-profile-1,.content-profile-2,.content-education-1,.content-education-2{

    margin:0px;

}

.work-content-2-list{
    
    height:660px;
    padding-left: 24px;
    border-left:1px solid #96A9C4;margin-left: 24px;
    margin-top:16px;


}


.work-list-content-fz-20px{
    font-size: 20px;
    font-family: sans-serif;
    line-height:30px;
    
    margin:0px;
    width:642px;


}

.work-content-2-list>li{
    
    line-height: 34px;
}



.img-mr-16px{
    
    margin-right: 16px;
}


.footer-icon{
    height:48px;
    margin:auto;
}

.contact-content-2>ul {
    
    margin-top:32px;
    margin-bottom: 0px;;
    padding-bottom:36px;
    line-height:33px;
}




.skill-content-2{
    
    padding-bottom:36px;
    
}

.skill-content-2-list{
    height:321px;
    
    
    border-left: 1px solid #96A9C4;
    
    padding-left:24px;
    /* padding-top:40px; */
    margin-top:40px;
    margin-bottom:0px;
    
     
}

.pd-left{
    padding-left: 852px;
    
    
}

.skill-content-2-list li{
    
    text-align: left;
    line-height:28px;
}

.subtitle{
    
    font-size: 32px;
    font-family: sans-serif;
    color:black;
    font-weight: 400;
    line-height:43px;
    margin-bottom: 0px;
    margin-right:16px;
    
    
}



.subtitle-red{
    font-size: 24px;
    font-family: sans-serif;
    color:#A00404;
    font-weight: 400;
    line-height:1.75rem; /*28px;*/
    margin-bottom: 15px;
    
}
.white{
    color:#FFFFFF;
    
}


.mb-1{
    
    margin-bottom: 8px;
    
}
.mb-2{
    
    margin-bottom: 16px;
    
}
.mb-3{
    
    margin-bottom: 20px;
    
}
.mb-4{
    
    margin-bottom: 24px;
    
}

.mb-4-ext{
    
    margin-bottom: 36px;
    
}

.mb-5{
    
    margin-bottom: 48px;
    
}
.mb-6{
    
    margin-bottom: 72px;
    
}
.mb-6-ext{
    
    margin-bottom: 82px;
    
}

.mb-7{

    margin-bottom: 128px;
}



.mt-1{
    
    margin-top: 8px;
    
}
.mt-2{
    
    margin-top: 16px;
    
}
.mt-3{
    
    margin-top: 20px;
    
}
.mt-4{
    
    margin-top: 24px;
    
}
.mt-5{
    
    margin-top: 48px;
    
}
.mt-6{
    
    margin-top: 72px;
    
}